<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel='icon' href='img/favicon-16x16.png' type='image/x-icon' />
	<title>Design For San Diego</title>
	<meta name="title" content="Design For San Diego">
	<meta name="description"
		content="Imagine a Better San Diego. Shape the Next Generation by Selecting Which Challenge We Will Design For Next. Vote Now!">

	<!-- Custom fonts for this theme -->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
		type="text/css">

	<!-- Theme CSS -->
	<link href="css/freelancer.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
	<link href="css/educator.css" rel="stylesheet">
</head>

<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg text-uppercase position-absolute" id="mainNav">
		<div class="container">
			<a href="/">
				<img src="img/D4SD_Logo.png" alt="" />
			</a>
		</div>
	</nav>

	<!-- Masthead -->
	<header class="masthead bg-primary text-white text-center">
		<div class="row">
			<!-- Portfolio Item 1 -->
			<div class="hero-content col-md-6 col-lg-5">
				<div class="hero-text">
					<p>Educators</p>
				</div>
				<h1 id="MainTitle">Offer Experiential Learning to Your Students</h1>
				<br>
				<br>
				<div class="hero-text">
					<p>D4SD provides a unique supplemental learning experience participants regardless of their exposure
						to design thinking. The program builds from first principles, and guides students along the
						human centered design process.</p>
				</div>
			</div>
		</div>
		<br><br><br>
	</header>

	<!-- Why you Should Participate -->
	<section class="page-section text-white mb-0" id="Participate">
		<div class="container">
			<div class="row">
				<div class="row col-md-12 col-lg-12">
					<h1 id="sectionTitle">Why You Should Participate?</h1>
				</div>
				<!-- Portfolio Item 1 -->
				<div class="col-md-3 col-lg-3">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 22@4x.png" />
						<h1 class="card-title">Tap into a network of<br> young innovators</h1>
						<br><br><br><br>

					</div>
				</div>

				<!-- Portfolio Item 2 -->
				<div class="col-md-3 col-lg-3">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 20@4x.png" />
						<h1 class="card-title">Build your network<br> with other business<br> and civic leaders in<br> San Diego</h1>
						<br><br><br><br>

					</div>
				</div>

				<!-- Portfolio Item 3 -->
				<div class="col-md-3 col-lg-3">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto my-auto d-block" src="img/Asset 18@4x.png" width="180" height="190"  />
						<h1 class="card-title">Give feedback and<br> judge submissions<br> of young designers.
						</h1>
						<br><br><br><br>

					</div>
				</div>

				<!-- Portfolio Item 4 -->
				<div class="col-md-3 col-lg-3">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 25@4x.png" width="180" height="190" />
						<h1 class="card-title">Shape the next<br> generation of<br> designers</h1>
						<br><br><br><br>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->

	<!-- Contact -->
	<section class="page-section text-white mb-0" id="Contact">
		<div class="container">
			<div class="md-6">
				<h2>Contact us Now</h2>
				<p>Email us to stay informed and join us in 2020 to<br>
					learn all the details on how you can participate.
				</p>
				<a href="" class="btn btn-outline-primary" id="button4">
					Send Email
				</a>
			</div>
		</div>
	</section>

	<!-- Copyright Section -->
	<section class="copyright py-4 text-center text-white">
		<div class="container">
			<p class="copyright-text">Copyright &copy; 2017-2020 D4SD. All Rights Reserved. Send feedback to <a
					href="mailto: team@d4sd.org">
					team@d4sd.org
				</a>.
			</p>
		</div>
	</section>

	<div class="scroll-to-top d-lg-none position-fixed ">
		<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/contact_me.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/freelancer.min.js"></script>
</body>

</html>