<!DOCTYPE HTML>

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/home.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel='icon' href='Home Page/favicon-16x16.png' type='image/x-icon' />
	<!-- Primary Meta Tags -->
	<title>Design For San Diego</title>
	<meta name="title" content="Design For San Diego">
	<meta name="description"
		content="Imagine a Better San Diego. Shape the Next Generation by Selecting Which Challenge We Will Design For Next. Vote Now!">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://d4sd.org/">
	<meta property="og:title" content="Design For San Diego">
	<meta property="og:description"
		content="Imagine a Better San Diego. Shape the Next Generation by Selecting Which Challenge We Will Design For Next. Vote Now!">
	<meta property="og:image" content="">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="http://d4sd.org/">
	<meta property="twitter:title" content="Design For San Diego">
	<meta property="twitter:description"
		content="Imagine a Better San Diego. Shape the Next Generation by Selecting Which Challenge We Will Design For Next. Vote Now!">
	<meta property="twitter:image" content="">
</head>

<body>
	<!-- Banner -->
	<section id="background">
		<section id="banner">
			<header class="header">
				<a id="d4sd-logo" href="/" class="logo">
					<img src="Home Page/D4SD_Logo.png" alt="" />
				</a>
			</header>
			<img src="Home Page/Splash_Page_Bkg_Triangle_2.png" id="Triangle">
			<div class="content-box">
				<h1 class="text-left" id="MainTitle">Get Ready for D4SD's 2020 Design Challenge</h1>
				<div class="text-content">
					<p class="text-left">Design for San Diego (D4SD) is a city-wide human-centered design competition
						focused on exploring
						solutions to important civic challenges facing our region.</p>
					<p class="text-left">Innovators, volunteers, teachers, and sponsors...<br />
						find out how we can improve the city together.<p>
				</div>
			</div>
			<div class="button-wrapper">
				<button type="button" class="btn btn-outline-primary">
					<a href="http://d4sd.org">Learn More</a>
				</button>
				<button type="button" class="btn btn-outline-primary">
					<a href="http://d4sd/getinvolved">Get Involved</a>
				</button>
			</div>
			<div class="nav">
				<div class="col" id="col-head">
					How to Get<br />Involved Now
				</div>
				<div class="col">
					Register Now for<br />the 2020 Design<br />Challenge
				</div>
				<div class="col">
					Offer Experiential<br />Learning to Your<br />Students
				</div>
				<div class="col">
					Volunteer as a<br />Mentor, Organizer,<br />Judge, Writer...
				</div>
				<div class="col">
					Sponsor D4SD<br />to Promote<br /> Your Brand
				</div>
			</div>
		</section>
	</section>

	<!-- Info -->
	<section id="Info">
		<div class="Info-Wrapper">
			<img src="Home Page/aerial-sd.png" id="Info-img" />
			<div class="Inner-Wrapper">
				<h2 class="text-left" id="Info-head">What is D4SD?</h2>
				<p class="text-left" id="Info-par">Design for San Diego (D4SD) is a civic design competition that brings together innovators, designers,
					mentors and experts from the region to address San Diego’s most challenging issues through
					human-centered design.<br/><br/>Our aim is to provide a space that allows for the community to engage the issues,
					prototype solutions to the problems they see, and link them to resources in their communities that can
					bring those solutions to life.</p>
			</div>
		</div>
	</section>

	<!-- Our Process (This section Overlays Info and Who are we)  -->
	<section id="Our-Process">
		<h2>Our Process</h2>
		<p>D4SD follows a human-centered design process. This approach focuses on people and the broader systems at play
			to
			address the core, root issues, not just the surface-level problems.</p>
		<p>The process is structured around discovery, ideation, prototyping, and pitching such that participants
			continually
			test and refine proposals to truly meet the community’s needs.</p>
		<u1>
			<li>
				<img src="Home Page/Asset 6@4x.png" />
				<h>Discover</h>
				<p>Frame the most significant challenges around mobility in San Diego</p>
			</li>
			<li>
				<img src="Home Page/Asset 8@4x.png" />
				<h>Ideate</h>
				<p>Generate as many creative, novel solutions to address the key challenges</p>
			</li>

			<li>
				<img src="Home Page/Asset 14@4x.png" />
				<h>Prototype</h>
				<p>Communicate your ideas by creating prototypes</p>
			</li>
			<li>
				<img src="Home Page/Asset 13@4x.png" />
				<h>Pitch</h>
				<p>Submit solutions for judging by civic leaders and experts</p>
			</li>
		</u1>
	</section>

	<!-- Black Background -->
	<section id="Who-Are-We">
		<h2>Who Are We?</h2>
		<img src="Home Page/IMG_1967.png">
		<p>D4SD comprises an interdisciplinary group of designers, researchers, and developers from UC San Diego. By
			combining our team’s diverse talents in computer science, cognitive science, and interaction design, we have
			worked tirelessly to create a website and discussion platform, to provide educational resources on design
			and technology, and to host a series of exciting events with our community partners.</p>
	</section>

	<!-- How to Get Involved -->
	<section id="Get-Involved">
		<h2>How to Get Involved?</h2>
		<!-- <img src="Home Page/Splash_Page_Bkg_Triangle_2.png"> -->
		<p>D4SD comprises an interdisciplinary group of designers, researchers, and developers from UC San Diego. By
			combining our team’s diverse talents in computer science, cognitive science, and interaction design, we have
			worked tirelessly to create a website and discussion platform, to provide educational resources on design
			and technology, and to host a series of exciting events with our community partners.</p>
		<div>
			<img src="Home Page/Asset 16@4x.png" />
			<img src="Home Page/Asset 17@4x.png" />
			<img src="Home Page/Asset 6@4x.png" />
			<img src="Home Page/Asset 12@4x.png" />
		</div>
		<div>
			<h2>Register Now for the 2020 Design Challenge</h2>
			<p>Want a chance to participate as an innovator?</p>
			<button>Register Now</button>

			<h2>Offer Experiential Learning to your Students</h2>
			<p>Are you an educator looking to get your students involved?</p>
			<button>Learn More</button>

			<h2>Volunteer as a Mentor, Organizer, Judge, Writer...</h2>
			<p>Do you have a deep understanding of the problems that face your community?</p>
			<button>Join the Community</button>

			<h2>Sponsor D4SD to Promote Your Brand</h2>
			<p>Are you interested in our mission and want to assist via sponsorship?</p>
			<button>Become a Sponsor</button>

		</div>
	</section>

	<!-- 2017 Recap -->
	<section id="Recap">
		<div class="recap-wrapper">
			<h1 id="recapHead">D4SD 2017 Recap:</h1>
			<h2 id="recapHead2">How do we create a San Diego where we all move freely?</h2>
			<p id="recapPar">In a new combined effort to solve complex city problems through design thinking and
				crowdsourcing, UC San
				Diego's Design Lab—with support from the National Science Foundation, Design Forward Alliance
				and SCALE
				SD—was excited to announce the 2017 Design for San Diego (D4SD) Civic Design Challenge on
				Mobility.</p>
			<img src="Home Page/transport.png" id="recap-img" width=901 height=698>
		</div>

		<div class="button-wrapper2">
			<button type="button" class="btn btn-outline-primary" id="button1">Learn More</button>
			<button type="button" class="btn btn-outline-primary" id="button1">See Finalist</button>
		</div>
	</section>

	<!-- Stay in Touch with Us -->
	<section id="Keep-in-touch" img="Home Page/Fixed Overlay (Sign Up).png">
		<h2>Stay in Touch with Us</h2>
		<p>Sign up for our mailing list to stay informed and join us in 2020 to learn all the details on how you can
			participate.</p>
		<form action="/action_page.php">
			Name: <input type="text" name="fname"><br>
			Email: <input type="text" name="lname"><br>
			<input type="submit" value="Sign Up">
		</form>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">Copyright &copy; 2017-2020 D4SD. All Rights Reserved. Send feedback to team@d4sd.org.</p>
		</div>
	</footer>

</body>

</html>