<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel='icon' href='img/favicon-16x16.png' type='image/x-icon' />
	<title>Design For San Diego</title>
	<meta name="title" content="Design For San Diego">
	<meta name="description"
		content="Imagine a Better San Diego. Shape the Next Generation by Selecting Which Challenge We Will Design For Next. Vote Now!">

	<!-- Custom fonts for this theme -->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
		type="text/css">

	<!-- Theme CSS -->
	<link href="css/freelancer.min.css" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg text-uppercase position-absolute" id="mainNav">
		<div class="container">
			<a href="/">
				<img src="img/D4SD_Logo.png" alt="" />
			</a>
		</div>
	</nav>

	<!-- Masthead (Primary Banner Text) -->
	<header class="masthead bg-primary text-white text-center">
		<div class="row">
			<!-- Portfolio Item 1 -->
			<div class="hero-content col-sm-6 col-md-6 col-lg-5">
				<h1 id="MainTitle">Get Ready for D4SD's 2020
					Design Challenge</h1>
				<br>
				<br>
				<div class="hero-text">
					<p>Design for San Diego (D4SD) is a city-wide human-centered design competition focused on exploring
						solutions to important civic challenges facing our region.
					</p>
					<p>
						Innovators, volunteers, teachers, and sponsors...<br>find out how we can improve the city
						together.
					</p>
				</div>
				<br>
				<!-- Buttons for getting involved -->
				<div class="row">
					<div class="col-auto">
						<a class="btn btn-outline-primary main-button" href="http://d4sd.org">
							Learn More
						</a>
					</div>
					<div class=" col-auto">
						<a class="btn btn-outline-primary main-button" href="http://d4sd.org/">
							Get Involved
						</a>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</header>

	<!-- Links to Subpages: Overhead -->
	<div class="overhead">
		<div class="row">
			<div class="spacing">
				<div class="col-auto">
					<a1>
						How to Get<br />Involved Now
					</a1>
				</div>
			</div>
			<div class="spacing">
				<div class="col-auto selectLink">
					<a href="/participant.html" style="text-decoration: none !important;">
						Register Now for<br />the 2020 Design<br />Challenge
					</a>
				</div>
			</div>
			<div class="spacing">
				<div class="col-auto selectLink">
					<a href="/educator.html" style="text-decoration: none !important;">
						Offer Experiential<br />Learning to Your<br />Students
					</a>
				</div>
			</div>
			<div class="spacing">
				<div class="col-auto selectLink">
					<a href="/volunteer.html" style="text-decoration: none !important;">
						Volunteer as a<br />Mentor, Organizer,<br />Judge, Writer...
					</a>
				</div>
			</div>
			<div class="spacing">
				<div class="col-auto selectLink">
					<a href="/sponsor.html" style="text-decoration: none !important;">
						Sponsor D4SD<br />to Promote<br /> Your Brand
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Section: What is D4SD? -->
	<section class="page-section bg-primary portfolio" id="portfolio">
		<div class="padding"></div>
		<div class="row">
			<div class="square img">
			</div>
			<div class="square portfolio-content">
				<h2>What is D4SD?</h2>
				<br>
				<br>
				<div class="portfolio-text">
					<p class="hero-text">Design for San Diego (D4SD) is a civic design competition that brings
						together innovators, designers,
						mentors and experts from the region to address San Diego’s most challenging issues
						through
						human-centered design.<br /><br />Our aim is to provide a space that allows for the
						community to
						engage the issues,
						prototype solutions to the problems they see, and link them to resources in their
						communities
						that
						can
						bring those solutions to life.</p>
					<br><br>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Process Section -->
	<section class="page-section our-process" id="Our-Process">
		<div class="container">
			<div class="row">

				<!-- Portfolio Item 1 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<h2>Our Process</h2>
					</div>
				</div>

				<!-- Portfolio Item 2 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<p>D4SD follows a human-centered design process. This approach focuses on people and the broader
							systems at play
							to
							address the core, root issues, not just the surface-level problems.</p>
						<br>
						<p>The process is structured around discovery, ideation, prototyping, and pitching such that
							participants
							continually
							test and refine proposals to truly meet the community’s needs.<br><br><br><br></p>
					</div>
				</div>

				<!-- Portfolio Item 3 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 6@4x.png" />
					</div>
				</div>

				<!-- Portfolio Item 4 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<div class="mx-auto d-block">
							<h>Discover</h>
							<p>Explore the problem by gathering research and engaging with industry experts, civic
								leaders, and community members</p>
							<br><br><br><br>
							<!-- <br><br><br><br> -->
						</div>
					</div>
				</div>

				<!-- Portfolio Item 5 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 8@4x.png" />
					</div>
				</div>

				<!-- Portfolio Item 6 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<div class="mx-auto d-block">
							<h>Ideate</h>
							<p>Generate as many potential solutions using the research you gathered</p>
							<br><br><br><br>
							<!-- <br><br><br><br> -->
						</div>
					</div>
				</div>

				<!-- Portfolio Item 7 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class=" portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 14@4x.png" />
					</div>
				</div>


				<!-- Portfolio Item 8 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<div class="mx-auto d-block">
							<h>Prototype</h>
							<p>Create a simple, experimental prototype, that clearly communicates a few of your team's
								idea
							</p>
							<br><br><br><br>
							<!-- <br><br><br><br> -->
						</div>
					</div>
				</div>


				<!-- Portfolio Item 9 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<img class="mx-auto d-block" src="img/Asset 13@4x.png" />
					</div>
				</div>


				<!-- Portfolio Item 10 -->
				<div class="col-md-6 col-lg-6">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">

							</div>
						</div>
						<div class="mx-auto d-block">
							<h>Pitch</h>
							<p>Submit solutions for judging by civic leaders and experts</p>
							<br><br><br><br>
							<!-- <br><br><br><br> -->
						</div>
					</div>
				</div>



			</div>
		</div>
	</section>

	<!-- About Section -->
	<section class="page-section text-white mb-0" id="about">

		<!-- <div class="padding"></div> -->
		<div class="row">
			<div class="square portfolio-content">
				<h2>Who Are We?</h2>
				<br>
				<br>
				<div class="portfolio-text">
					<p class="hero-text">D4SD is composed of an interdisciplinary group of designers, researchers, and
						developers who have collaborated over the past year and a half to develop all the components of
						the competition including the website, discussion platform, educational resources, event
						planning, among more.</p>
					<br><br>
				</div>
			</div>
			<div class="square img1">
			</div>
		</div>
	</section>

	<!-- Get Involved Section -->
	<section class="page-section text-white mb-0" id="Get-Involved">
		<div class="row">
			<div class="col-12">
				<h2>How to Get Involved?</h2>
			</div>
		</div>
		<div class="container-flex">
			<div class="row">
				<!-- Portfolio Item 1 -->
				<div class="col-md-3 col-lg-3 wrapper">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<img class="mx-auto d-block" src="img/Asset 16@4x.png" />
							</div>
						</div>
						<br><br>
						<h1 class="card-title">Register Now for&#13;&#10;the 2020 Design&#13;&#10;Challenge</h1>
						<br><br>
						<a href="/participant.html" class="btn btn-outline-primary main-button mx-auto d-block">
							Register Now
						</a>
					</div>
				</div>

				<!-- Portfolio Item 2 -->
				<div class="col-md-3 col-lg-3 wrapper">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<img class="card-image mx-auto d-block" src="img/Asset 17@4x.png" />
							</div>
						</div>
						<br><br>
						<h1 class="card-title">Offer Experiential&#13;&#10;Learning to&#13;&#10;your Students</h1>
						<br><br>
						<a href="/educator.html" class="btn btn-outline-primary main-button mx-auto d-block">
							Learn More
						</a>

					</div>
				</div>

				<!-- Portfolio Item 3 -->
				<div class="col-md-3 col-lg-3 wrapper">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<img class="mx-auto d-block" src="img/Asset 6-1@4x.png" />
							</div>
						</div>
						<br><br>
						<h1 class="card-title">Volunteer as a&#13;&#10;Mentor, Organizer,&#13;&#10;Judge, Writer...
						</h1>
						<br><br>
						<a href="/volunteer.html" class="btn btn-outline-primary main-button mx-auto d-block"
							style="width: 14em;">
							Join the Community
						</a>

					</div>
				</div>

				<!-- Portfolio Item 4 -->
				<div class="col-md-3 col-lg-3 wrapper">
					<div class="portfolio-item mx-auto">
						<div
							class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
							<div class="portfolio-item-caption-content text-center text-white">
								<img class="mx-auto d-block" src="img/Asset 12@4x.png" />

							</div>
						</div>
						<br><br>
						<h1 class="card-title">Sponsor <br /> D4SD to Promote<br />Your Brand</h1>
						<br><br>
						<a href="/sponsor.html" class="btn btn-outline-primary main-button mx-auto d-block"
							style="width: 13em;">
							Become a Sponsor
						</a>

					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Recap Section -->
	<section class="page-section" id="Recap">
		<!-- image 3 -->
		<div class="row">
			<div class="square portfolio-content">
				<h1 id="recapHead">D4SD 2017 Recap:</h1>
				<h2>How do we create a<br>San Diego where we<br>all move freely?</h2>
				<br>
				<br>
				<div class="portfolio-text">
					<p class="hero-text">In a new combined effort to solve complex city problems through design thinking
						and
						crowdsourcing, UC San
						Diego's Design Lab—with support from the National Science Foundation, Design Forward
						Alliance
						and SCALE
						SD—was excited to announce the 2017 Design for San Diego (D4SD) Civic Design Challenge on
						Mobility.</p>
					<br><br>
					<div class="row">
						<div class=" col-sm-6 col-md-4 col-lg-4">
							<a href="http://d4sd.org">
								<button type="button" class="btn" id="buttonW">
									Learn More
								</button>
							</a>
						</div>
						<div class=" col-md-8 col-lg-1" id="pad">
						</div>
						<div class=" col-sm-6 col-md-4 col-lg-4">
							<a href="http://d4sd.org/entries">
								<button type="button" class="btn" id="buttonW">
									See Finalist
								</button>
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="square img3">
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section class="page-section" id="Keep-in-touch">
		<div class="container content">
			<div class="row">
				<div class="col-sm-12 col-md-7 col-lg-7">
					<div class="row">
						<div class="col-12">
							<h2>Stay in Touch with Us</h2>
							<br><br>
							<p>Sign up for our mailing list to stay informed and<br> join us in 2020 to learn all the
								details on
								how
								you<br>
								can
								participate.</p>
						</div>
					</div>
					<br />
					<div class="form-group row">
						<div class="form-group col-sm-6 col-md-6 col-lg-6">
							<div>
								<input type="text" class="form-control" id="Form-Name" placeholder="Name">
							</div>
						</div>
						<div class="form-group col-sm-6 col-md-6 col-lg-6">
							<div>
								<input type="text" class="form-control" id="Form-Email" placeholder="Email">
							</div>
						</div>
					</div>
					<form class="form" action="/action_page.php">
						<a href="" class="btn btn-outline-primary main-button">
							Sign Up
						</a>
					</form>
				</div>
				<div class="col-sm-0 col-md-5 col-lg-5">

				</div>
			</div>
		</div>
	</section>

	<!-- Copyright Section -->
	<section class="copyright py-4 text-center text-white">
		<div class="container">
			<p class="copyright-text">Copyright &copy; 2017-2020 D4SD. All Rights Reserved. Send feedback to <a
					href="mailto: team@d4sd.org">
					team@d4sd.org
				</a>.
			</p>
		</div>
	</section>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-to-top d-lg-none position-fixed ">
		<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="js/jqBootstrapValidation.js"></script>
	<script src="js/contact_me.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/freelancer.min.js"></script>

</body>

</html>