body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(229, 235, 244) !important;
    overflow-x: hidden;
}

.bg-primary {
    background-color: rgb(229, 235, 244) !important;
}

/* Global settings */
.a {
    text-decoration: none !important;
}

a {
    color: #007bff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
}

/* Buttons */
/* .btn-wrapper-banner {
    width: 80%;
    height: 100%;
} */

.main-button {
    text-decoration: none !important;
    padding: .6em 0;
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #5662E5;
    color: #5662E5;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#buttonW {
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #fff;
    color: #fff;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


#buttonW a {
    color: #fff;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

#buttonW:hover {
    color: #fff;
    font-weight: bold;
    background-color: black;
    border-color: #fff
}

.btn-outline-primary:hover {
    color: #fff;
    font-weight: bold;
    background-color: #5662E5;
    border-color: #5662E5
}


/* Headers for most sections */
h2 {
    color: #5662E5;
    font: 'Montserrat';
    font-size: 3em;
    font-weight: bold;
}

/* Navigation */
#mainNav .container {
    margin-left: 5vw;
}

/* Masthead (Primary Banner Text) */
.masthead {
    background-size: 80% 110%;
    background-position: right bottom;
    background-image: url(../img/Splash_Page_Bkg_Triangle_2.png);
    background-repeat: no-repeat;
}

/* Title content */
.hero-content {
    /* margin-left: 10%; */
    margin-left: 10vw;
    text-align: left;
}

/* Paragraph Content */
.hero-text {
    width: 90%;
    display: block;
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
}

/* Banner Title */
#MainTitle {
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    position: relative;
}

/* Overhead links to sub-pages */
.overhead {
    margin-left: 2%;
    /* Top/Bot, Left/Right */
    position: relative;
    bottom: 4em;
    z-index: 2;
    width: 95%;
    background-color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #F1F7FF;
}

.spacing {
    padding: 2em 2em;
}

/* 
.hidden{
    display: none;
} */

.overhead>.row>.spacing>.col-auto>a1 {
    color: #F1F7FF !important;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
}

.overhead>.row>.spacing>.col-auto>a {
    color: #F1F7FF !important;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif !important;
}

/* Animations */
.selectLink {
    display: block;
    color: #5662E5;
    text-decoration: none;
}

.selectLink::after {
    position: absolute;
    top: -2em;
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    background: #5662E5;
    transition: width .4s;
    /* Fix this later to animate better */
}

.selectLink:hover::after {
    width: 100%;
    transition: width .4s;
}


/* What is D4SD */
#portfolio {
    background-size: 150% 115%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-image: url(../img/TransparentOverlay.png);
    background-color: #EDF3FA;
    padding-bottom: 60%;
    margin-top: -10%;
}

#portfolio .row {
    align-items: center;
}

/* Contains Text/Image for What-D4SD */
.What-D4SD {
    padding-top: 10%;
    align-items: center;
}

/* EXP */
.square {
    float: left;
    position: relative;
    width: 45%;
    padding-bottom: 38%;
    /* = width for a 1:1 aspect ratio */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.img {
    background-image: url('../img/aerial-sd.png');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

/* EXP */

.portfolio-content {
    padding: 5% 5%;
    width: 50%;
    margin-left: 5%;
}

.portfolio-text {
    width: 90%;
}

.padding {
    margin-top: 8%;
}

/* Our Process Section */
#Our-Process {
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    width: 80%;
    padding: 8em 6em;
    top: 230vh;
    left: 10%;
    z-index: 2;
}

#Our-Process .container {
    /* margin-left: 0vw !important; */
}

.our-process h {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 2em;
}

.our-process h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 3em;
    text-align: center;
}

.our-process p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #1A2F38;
    font-size: 1.2em;
}

/* Who are we section */
#about {
    background-color: #1A2F38;
    padding-top: 108vh;
    padding-bottom: 15vh;
}

#about {
    align-items: center;
}

#about .padding {
    margin-top: 5vh;
}

#about .hero-text {
    font-weight: 100;
    color: rgba(241, 247, 255, 0.562);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

#about h2 {
    color: #F1F7FF;
}

#about .portfolio-content {
    align-self: center;
    padding: 5% 5%;
    width: 50%;
    margin-left: 5%;
}

.img1 {
    background-image: url('../img/IMG_1967.png');
}


/* Get Involved section */
#Get-Involved {
    padding: 10% 0%;
    background-image: url('../img/D4SD Triangle Bkg.png');
    background-size: 100% 180%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#Get-Involved .container-flex {
    margin: 0% 5%;
}

#Get-Involved h2 {
    color: #5662E5;
    text-align: center;
    margin-bottom: 4%;
}

.wrapper {
    min-height: 100%;
}

.card-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 1.75em;
}

.card-image {
    /* width: 18vw;
    height: 20vh; */
}

.wrapper {
    /* margin-left: 1vw;
    margin-right: 1vw; */
}


/* Recap Section */
#Recap {
    background-image: url("../img/transport-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: calc(6em+100%) calc(6em+100%);
}

#Recap .container-flex {
    margin-left: 5vw;
}

#Recap .row {
    align-items: center;
}

#recapHead {
    color: #F1F7FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: left;
}

#Recap h2 {
    color: #F1F7FF;
    text-align: left;
}

#recapPar {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
}

/* #Recap .container {
    margin-right: 0px;
} */

#transport {
    width: 55vw;
    height: 75vh;
}

.img3 {
    background-image: url('../img/transport.png');
}

#Recap .square {}

#Recap .hero-text {
    font-weight: 100;
    color: rgba(241, 247, 255, 0.562);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

#Recap .portfolio-content {
    width: 50%;
    margin-left: 5%;
}

/* Contact section */

#Keep-in-touch .container {
    margin-left: 8%;
}

#Keep-in-touch {
    padding: 8rem 0;
    background-image: url('../img/Fixed Overlay (Sign Up).png');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Keep-in-touch h2 {
    color: #1A2F38;
    text-align: left;
}

#Keep-in-touch p {
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
}

.form-control {
    background-color: #F1F7FF;
    color: #F1F7FF;
    border-color: #5662E5;

}

#Keep-in-touch .main-button {
    text-decoration: none !important;
    border: 0.2em solid #1A2F38;
    color: #1A2F38;
}

#Keep-in-touch .btn-outline-primary:hover {
    color: #1A2F38;
    font-weight: bold;
    background-color: #F1F7FF;
    border-color: #5662E5
}

.copyright {
    background-color: #1A2F38;
    padding: 4rem 0 !important;
}

.copyright-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
}

/**********************************/
/********BREAKPOINTS BELOW*********/
/**********************************/

/* TODO MOBILE VERSION */
@media (max-width: 992px) {
    #What-D4SD {
        margin-top: 40%;
        height: 100vh;
    }

    #about {
        padding-bottom: 10%;
        padding-top: 130%;
    }

    #Our-Process {
        top: 220vh;
    }
}

/* Media Queries for screen heights greater than 800px */
/* Ipad Pro Tablets */
@media (min-height: 1366px) and (min-width: 1024px) {
    #MainTitle {
        font-size: 2.6em;
    }

    h2 {
        font-size: 2.2em;
    }

    .hero-text {
        font-size: .8em !important;
    }

    .spacing {
        padding: 2em 1em;
    }

    .overhead>.row>.spacing>.col-auto>a {
        font-size: .6em;
    }

    #portfolio {
        padding-bottom: 100%;
        background-size: 150% 130%;
        margin-top: -20%;
    }

    #Our-Process {
        top: 110vh;
    }

    .our-process h2 {
        font-size: 2.2em;
    }

    .our-process p {
        font-size: .8em;
    }

    .our-process h {
        font-size: 1.6em;
    }

    #about {
        padding-top: 40vh;
        padding-bottom: 5vh;
    }

    .card-title {
        font-size: 1.25em;
    }

    #Get-Involved .main-button {
        width: auto;
    }
}

/* Larger than 13" laptops */
/* Laptops Macbook */
@media (min-height: 800px) and (min-width: 1280px) {
    #portfolio {
        padding-bottom: 90%;
        background-size: 150% 130%;
        margin-top: -15%;
    }

    .overhead>.row>.spacing>.col-auto>a1 {
        font-size: 1.1em;
    }

    .overhead>.row>.spacing>.col-auto>a {
        font-size: .8em;
    }

    #portfolio {
        padding-bottom: 85%;
        background-size: 150% 130%;
        margin-top: -15%;
    }

    #about {
        padding-top: 95vh;
        padding-bottom: 15vh;
    }


    #Our-Process {
        top: 220vh;
    }

    #about {
        padding-top: 95vh;
        padding-bottom: 15vh;
    }

    .card-title {
        font-size: 1.5em;
    }
}

/* Laptops Macbook and up */
@media (min-height: 900px) and (min-width: 1440px) {

    #MainTitle {
        font-size: 3.8em;
    }

    h2 {
        font-size: 3.4em !important;
    }

    .masthead {
        padding-bottom: 10rem;
    }

    .hero-text {
        font-size: 1.3em !important;
    }

    .spacing {
        margin-left: auto;
        margin-right: auto;
    }

    .overhead {
        bottom: 6em;
    }

    .overhead>.row>.spacing>.col-auto>a1 {
        font-size: 1.4em;
    }

    .overhead>.row>.spacing>.col-auto>a {
        font-size: 1em;
    }

    #portfolio {
        padding-bottom: 80%;
        background-size: 150% 130%;
        margin-top: -15%;
    }

    #Our-Process {
        top: 220vh;
    }

    .our-process p {
        font-size: 1.4em;
    }

    .our-process h {
        font-size: 2.4em;
    }

    .card-title {
        font-size: 1.8em;
    }

    #about {
        padding-top: 95vh;
        padding-bottom: 15vh;
    }

}

/* Larger than 15" */
@media (min-width: 1600px) {
    #Our-Process {
        top: 190vh;
    }

    #about {
        padding-top: 70vh;
    }

    .card-title {
        font-size: 2em;
    }
}

/* Set for Monitors or 17inch */
@media only screen and (min-width: 1900px) {
    .spacing {
        margin-left: auto;
        margin-right: auto;
    }

    #portfolio {
        margin-top: -10%;
    }

    .What-D4SD {
        margin-top: 5%;
        align-items: center;
    }
}