body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(229, 235, 244) !important;
    overflow-x: hidden;
}

.bg-primary {
    background-color: rgb(229, 235, 244) !important;
}

/* Global settings */
.a {
    text-decoration: none !important;
}

a {
    color: #007bff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
}

/* Buttons */
/* .btn-wrapper-banner {
    width: 80%;
    height: 100%;
} */

.main-button {
    text-decoration: none !important;
    padding: .6em 0;
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #5662E5;
    color: #5662E5;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#buttonW {
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #fff;
    color: #fff;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


#buttonW a {
    color: #fff;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

#buttonW:hover {
    color: #fff;
    font-weight: bold;
    background-color: black;
    border-color: #fff
}

.btn-outline-primary:hover {
    color: #fff;
    font-weight: bold;
    background-color: #5662E5;
    border-color: #5662E5
}


/* Headers for most sections */
h2 {
    color: #5662E5;
    font: 'Montserrat';
    font-size: 3em;
    font-weight: bold;
}

/* Navigation */
#mainNav .container {
    margin-left: 5vw;
}

/* Masthead (Primary Banner Text) */
.masthead {
    background-size: 80% 110%;
    background-position: right bottom;
    background-image: url(../img/Splash_Page_Bkg_Triangle_2.png);
    background-repeat: no-repeat;
}

/* Title content */
.hero-content {
    /* margin-left: 10%; */
    margin-left: 10vw;
    text-align: left;
}

/* Banner Title */
#MainTitle {
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    position: relative;
}

/* Paragraph Content */
.hero-text {
    width: 90%;
    display: block;
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
}

/* Overhead links to sub-pages */
/* TODO MEDIA QUERIES FOR THIS */
.overhead {
    top: 100vh;
    display: block;
    padding: 2em 2%;
    /* Top/Bot, Left/Right */
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #F1F7FF;
}

/* Animations */
.selectLink {
    display: block;
    color: #5662E5;
    text-decoration: none;
}

.selectLink::after {
    position: absolute;
    top: -2em;
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    background: #5662E5;
    transition: width .2s;
    /* Fix this later to animate better */
}

.selectLink:hover::after {
    width: 60%;
    transition: width .2s;
}


/* What is D4SD */
#portfolio {
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    background-image: url(../img/TransparentOverlay.png);
    background-color: #EDF3FA;
    padding-bottom: 70%;
}

/* Contains Text/Image for What-D4SD */
.What-D4SD {
    /* padding-top: 10%; */
    margin-top: 10%;
}

/* Image for What-D4SD section */
.aerial {
    width: 40vw;
    height: 70vh;
}

.portfolio-content {
    padding: 3%;
    padding-left: 10%;
}

.portfolio-text {
    width: 90%;
}

/* Our Process Section */
#Our-Process {
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    width: 80%;
    padding: 8em 6em;
    top: 230vh;
    left: 10%;
    z-index: 2;
}

#Our-Process .container {
    /* margin-left: 0vw !important; */
}

#Our-Process h2 {
    text-align: center;
}

.our-process h {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 2em;
}

.our-process h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 3em;
    text-align: center;
}

.our-process p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #1A2F38;
    font-size: 1.2em;
}

.title {
    padding-right: 15px;
}

.overhead>.row>.col>a {
    color: #F1F7FF !important;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

/* Title element of overhead */
.title {
    padding-right: 15px;
}

.overhead>.row>.col>a {
    color: #F1F7FF !important;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

/* Who are we section */

/* TODO */
#about {
    background-color: #1A2F38;
    padding-top: 110vh;
    padding-bottom: 25vh;
}

#about .hero-text {
    font-weight: 100;
    color: #F1F7FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

#about h2 {
    color: #F1F7FF;
}

#about .portfolio-content {
    margin: 5% 0%;
    padding-left: 0%;
}

.about-img {
    width: 50.5vw;
    height: 70vh;
    right: 0;
}


/* Get Involved section */
#Get-Involved {
    padding: 10% 0%;
    background-image: url('../img/D4SD Triangle Bkg.png');
    background-size: 100% 180%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#Get-Involved h2 {
    color: #5662E5;
    text-align: center;
    margin-bottom: 4%;
}

.card-title {
    width: 105%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 1.75em;
}

.card-image {
    /* width: 18vw;
    height: 20vh; */
}

.wrapper {
    /* margin-left: 1vw;
    margin-right: 1vw; */
}


/* Recap Section */
#Recap {
    background-image: url("../img/transport-1.png");
    background-repeat: no-repeat;
}

#recapHead {
    color: #F1F7FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
    text-align: left;
}

#Recap h2 {
    color: #F1F7FF;
    text-align: left;
}

#recapPar {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
}

/* #Recap .container {
    margin-right: 0px;
} */

#transport {
    width: 55vw;
    height: 75vh;
}


/* Contact section */
#Keep-in-touch h2 {
    color: #1A2F38;
    text-align: left;
}

#Keep-in-touch {
    padding: 8rem 0;
    background-image: url('../img/Fixed Overlay (Sign Up).png');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Keep-in-touch p {
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
}

.form-control {
    background-color: #F1F7FF;
    color: #F1F7FF;
    border-color: #5662E5;

}

#Keep-in-touch .main-button {
    text-decoration: none !important;
    border: 0.2em solid #1A2F38;
    color: #1A2F38;
}

#Keep-in-touch .btn-outline-primary:hover {
    color: #1A2F38;
    font-weight: bold;
    background-color: #F1F7FF;
    border-color: #5662E5
}

.copyright {
    background-color: #1A2F38;
    padding: 4rem 0 !important;
}

.copyright-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
}


/* TODO Media Queries for Our Process  */
/* @media (max-width: 786px) {
    .hero-content .row {
        height: 15%;
        width: 40vw;
        max-width: 40vw;
    }

    #pad {
        width: 0vw;
        height: 0vh;
    }

    #What-D4SD {
        margin-top: 40%;
    }

    #Our-Process {
        top: 250vh;
    }

    .aerial {
        width: 100vw;
    }
}

@media (min-width: 786px) and (max-width: 873px) {
    #about {
        padding-bottom: 10%;
        padding-top: 130%;
    }
}

@media (min-width: 786px) and (max-width: 992px) {
    #What-D4SD {
        margin-top: 40%;
        height: 100vh;
    }

    #about {
        padding-bottom: 10%;
        padding-top: 130%;
    }

    #Our-Process {
        top: 220vh;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    #What-D4SD {
        margin-top: 20%;
        padding-bottom: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    #about {
        padding-bottom: 10%;
        padding-top: 110%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    #about {
        padding-bottom: 10%;
        padding-top: 90%;
    }
} */

/* Set for desktop */
/* @media only screen and (min-height: 995px) {
    .overhead {
        top: 60vh;
    }

    .selectLink:hover::after {
        width: 50%;
        transition: width .3s;
    }
} */