body {
    background-color: rgb(229, 235, 244) !important;
    overflow-x: hidden;
}

.bg-primary {
    background-color: rgb(229, 235, 244) !important;
}

/* Navigation */
#mainNav {
    top: 0;
    /* margin-left: 5%; */
    margin-left: 5vw;
}

/* Masthead (Primary Banner Text) */
.masthead {
    background-size: 80% 110%;
    background-position: right bottom;
    background-image: url(../img/Splash_Page_Bkg_Triangle_2.png);
    background-repeat: no-repeat;
}

/* Title content */
.hero-content {
    /* margin-left: 10%; */
    margin-left: 10vw;
    text-align: left;
}

/* Banner Title */
#MainTitle {
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    position: relative;
}

/* Paragraph Content */
.hero-text {
    width: 90%;
    display: block;
    box-sizing: border-box;
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
}


/* Link to Subpages: Overhead */
.overhead-wrapper {
    width: 90%;
}

.overhead {
    display: block;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #F1F7FF;
}

.title {
    padding-right: 15px;
}

.overhead>.row>.col>a {
    color: #F1F7FF !important;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

/* What is D4SD */
.portfolio {
    background-size: 100% 100%;
    /* background-size: 100vw 100vh; */
    background-repeat: no-repeat;
    background-image: url(../img/TransparentOverlay.png);
    background-color: #EDF3FA;
    padding-bottom: 70%;
    /* padding-bottom: 70vh; */
    /* background-color: */
}

#What-D4SD {
    margin-top: 10%;
}

.what-is {
    font-size: 3em;
    color: #5662E5;
    font-weight: bold;
    margin-bottom: 10%;
}

.about {
    /* left: 5em; */
}



.about-p1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #F1F7FF;
    font-size: 1.2em;
}

.about-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #F1F7FF;
    font-size: 3em;
}

.aerial {
    width: 40vw;
    height: 60vh;
}

.m8s {
    width: 50.5vw;
    height: 60vh;
    right: 0;
}

/* Buttons */
/* .btn-wrapper-banner {
    width: 80%;
    height: 100%;
} */

.main-button {
    text-decoration: none !important;
    padding: .5em 0;
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #5662E5;
    color: #5662E5;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#buttonW {
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #fff;
    color: #fff;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#button4 {
    width: 10em;
    height: 3em;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #707070;
    color: #707070;
    font-size: 1em;
    border-radius: 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#buttonW a {
    color: #fff;
    font-size: 1em !important;
    font-family: 'Montserrat', sans-serif !important;
}

.btn-outline-primary:hover {
    color: #fff;
    font-weight: bold;
    background-color: #5662E5;
    border-color: #5662E5
}

/* TODO */
#about {
    background-color: #1A2F38;
    padding-top: 100vh;
    padding-bottom: 25vw;
}

#Recap .container {
    margin-right: 0px;
}

#transport {
    width: 100%;
    height: 85%;
    position: relative;
    right: 0;
}

#Our-Process {
    background-color: #FFFFFF;
    margin: auto;
    position: absolute;
    width: 80%;
    padding-bottom: 10em;
    top: 200vh;
    left: 10%;
    z-index: 2;

}

/* FIXME? */
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    text-align: left;
}

.grid-item-img {
    text-align: center;
}

.our-process h {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 2em;
}

.our-process h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 3em;
    text-align: center;
}

.our-process p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #1A2F38;
    font-size: 1.2em;
}

.card-title {
    width: 105%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #5662E5;
    font-size: 1.75em;
}

.card-image {
    /* width: 18vw;
    height: 20vh; */
}

.wrapper {
    /* margin-left: 1vw;
    margin-right: 1vw; */
}

#Get-Involved {
    
    background-image: url('../img/D4SD Triangle Bkg.png');
    background-size: 100% 180%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#recapHead {
    color: #F1F7FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: left;
}

#recapHead2 {
    color: #F1F7FF;
    font: 'Montserrat';
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}

#recapPar {
    /* width: 744px; */
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: left;
}


#Recap {
    background-image: url("../img/transport-1.png");
}


#Keep-in-touch h2 {
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}

#Keep-in-touch {
    padding: 8rem 0;
    background-image: url('../img/Fixed Overlay (Sign Up).png');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Keep-in-touch p {
    color: #1A2F38;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: light;
    text-align: left;
}

.form-control {
    background-color: transparent;
    color: #000000;
    border-color: #000;

}

.copyright {
    background-color: #1A2F38;
    padding: 4rem 0 !important;
}

.copyright-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
}


a {
    color: #007bff;
}

/* TODO Media Queries for Our Process  */
@media (max-width: 786px) {
    .hero-content .row {
        height: 15%;
        width: 40vw;
        max-width: 40vw;
    }

    #pad {
        width: 0vw;
        height: 0vh;
    }

    #What-D4SD {
        margin-top: 40%;
    }

    #Our-Process {
        top: 250vh;
    }

    .aerial {
        width: 100vw;
    }
}

@media (min-width: 786px) and (max-width: 873px) {
    #about {
        padding-bottom: 10%;
        padding-top: 130%;
    }
}

@media (min-width: 786px) and (max-width: 992px) {
    #What-D4SD {
        margin-top: 40%;
        height: 100vh;
    }

    #about {
        padding-bottom: 10%;
        padding-top: 130%;
    }

    #Our-Process {
        top: 220vh;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    #What-D4SD {
        margin-top: 20%;
        padding-bottom: 10%;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    #about {
        padding-bottom: 10%;
        padding-top: 110%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    #about {
        padding-bottom: 10%;
        padding-top: 90%;
    }
}